.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 4.7rem;
  position: fixed;
  background-color: #000000ee;
  z-index: 100;
  margin-bottom: 20rem;
  top: 0;
}

@media (max-width: 720px) {
  .container{
    /* flex-direction: column; */
    padding: 0.7rem 1rem;
    /* position: initial;
    margin-bottom: 0; */
  }
}

.container img{
  width: 3.5rem;
  height: auto;
}

.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 720px) {
  .menu{
    display: none;
    align-items: center;
  }
  .container img{
    width: 2rem;
  }
}

.menu li{
  margin-right: 0.5rem;
}

.menu li:last-child{
  margin-right: 0;
}

.menu a{
  transition: all 400ms ease;
  padding: 1rem 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.menu a{
  font-size: 1rem;
  color: #fff;
}

.menu a:hover{
  color: #000;
  background-color: #9ef0f0;
}

@media (max-width: 720px) {
  .menu a{
    padding: 0;
  }
  .menu li{
    margin-bottom: 0.1rem;
  }
}

.active{
  text-decoration: underline;
}

/*MENU DE HAMBURGUESA*/

.barsMenu{
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .barsMenu{
    display: block;
  }
}

.barsMenu span{
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1Bars{
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2Bars{
  opacity: 0;
  transform: translateX(-20px);
}

.activeline3Bars{
  transform: rotate(-45deg) translate(-4px, 2px);
}

.activelist{
  transition: all 600ms;
  opacity: 0;
  transform: translateX(-190px);
}

.sidebarMenu{
  display: none
}

.sidebarMenu aside{
  border-right: 0px;
}

@media (max-width: 720px) {
  .sidebarMenu{
    display: flex;
    height: 100%;
  }

  .sidebarMenu aside{
    border-right: 0px;
  }
  .sidebarMenu a{
    display: block;
    color: #fff;
    height: 50px;
  }
  
  .sidebarMenu a:hover{
    background-color: #ffffff22;
  }

  .isMenuActive{
    display: none;
  }
}

